.main {
    margin: 2rem auto 0 auto;
    alignment: center;
    text-align: center;
    max-width: 1200px;
    padding: 2rem;
}

.button-custom {
    margin-top: 20px;
    margin-bottom: 20px;
    /*margin-right: 1%;*/
    padding: 7px;
    width: 89%;
    height: 50px;
    alignment: center;
    vertical-align: center;
    max-width: 400px;
}
